@model DetallesView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

    <h2>@Model.Titulo</h2>
    <div>
        <b>Id:</b> @Model.Usuario.Id
    </div>
    <div>
        <b>Nombre:</b> @Model.Usuario.Nombre
    </div>
    <div>
        <b>Apellido:</b> @Model.Usuario.Apellido
    </div>
    <div>
        <b>Usuario:</b> @Model.Usuario.UsuarioNombre
    </div>
    <div>
        <b>Contraseña:</b> @Model.Usuario.UsuarioContra
    </div>
    <div>
        <b>Correo:</b> @Model.Usuario.Correo
    </div>
    <div>
        <b>Tipo de Usuario:</b> @Model.Usuario.TipoUsuario
    </div>
    <div>
        <b>Telefono:</b> @Model.Usuario.Telefono
    </div>
    <div>
        <b>Imagen:</b> @Model.Usuario.Imagen
    </div>
    <div>
        <b>Aptitudes:</b> @Model.Usuario.Aptitudes
    </div>
@section Scripts
{
    <script src="~/js/MiScript.js"></script>
}