@model DetallesView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

    <main class="mb-5" style="margin-top:150px">
        <div class="row mt-5 ">
            <div class="col">
               
                <div class="list-group " style="background-color:#F9EBEA;">
                            <div href="#" class="list-group-item list-group-item-action flex-column align-item-start mt-3 ">
                                <div class="d-flex w-100 justify-content-between align-item-center">
                                    <h4 class="font-weight-bold">@Model.PuestoTrabajo.Compania</h4>
                                    <small>@Model.PuestoTrabajo.FechaPublicacion</small>
                                </div>
                                <div class="row">
                                    <div class="col-3 pl-4"><img class="ml-4" src="~/images/descarga .jpg"></div>
                                    <div class="col-9 "><pre class=" font-weight-bold">@Model.PuestoTrabajo.Categoria              @Model.PuestoTrabajo.TipoEmpleado              @Model.PuestoTrabajo.Ubicacion</pre> </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 my-3">
                                        <p>
                                            El usuario puede introducir algunas palabras clave para refinar su búsqueda. Las
                                            palabras clave pueden ser palabras se encuentra en los campos de la ubicación, la
                                            posición, la categoría, y de la compañía.El usuario puede introducir algunas pala
                                            bras clave para refinar su búsqueda. Laspalabras clave pueden ser palabras se enc
                                            uentra en los campos de la ubicación, laposición, la categoría, y de la compañía
                                        </p>
                                        <ul class="responsive float-right ">
                                            <li class="nav-item regist_log  px-4 py-2 mr-2" style="background-color:#53b427;">
                                                <a style="text-decoration:none;color:black;" >APLY</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
             
                </div>
            </div>
        </div>
    </main>
  
   
@section Scripts
{
    <script src="~/js/MiScript.js"></script>
}