@model ProyectoWeb.ViewModel.DetallesView

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h2>@Model.Titulo</h2>

    <div>
        <b>Id:</b> @Model.Usuario.Id
    </div>
    <div>
        <b>Nombre:</b> @Model.Usuario.Nombre
    </div>
    <div>
        <b>Apellido:</b> @Model.Usuario.Apellido
    </div>
    <div>
        <b>Usuario:</b> @Model.Usuario.UsuarioNombre
    </div>
    <div>
        <b>Contraseña:</b> @Model.Usuario.UsuarioContra
    </div>
    <div>
        <b>Correo:</b> @Model.Usuario.Correo
    </div>
    <div>
        <b>Tipo de Usuario:</b> @Model.Usuario.TipoUsuario
    </div>
    <div>
        <b>Telefono:</b> @Model.Usuario.Telefono
    </div>
    <div>
        <b>Imagen:</b> @Model.Usuario.Imagen
    </div>
    <div>
        <b>Aptitudes:</b> @Model.Usuario.Aptitudes
    </div>
</body>
</html>