@model PuestoTrabajoModel
@inject SignInManager<UserAplication> SignInManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Todos los Trabajos";
}

<div class="banner">

    <h2 class="mb-0 text-white">Your Future Start Here Know</h2>
    <h6 style="color: white; margin-Top: 0px;margin-bottom:30px; margin-left: 90px;">Search Millions Of Jobs For Free</h6>
    @* <div class="py-1" style="border-radius: 50px;background-color:white;"> *@
        <form method="get" asp-controller="Home" asp-action="Index" >
            @* <input class="border-0 ml-1  " style="border-radius: 50px;" type="text" placeholder="Search Job by Location" value="" />
            <button asp-route-cadena="value" class="float-right border-0 bg-white mr-1" style="border-radius: 50px;"><i class="fa fa-search text-success bg-white "></i></button> *@
            <div class="form-group">
            @Html.TextBox("cadena", null, new { placeholder = "texto de búsqueda",
                                    @class = "form-control" })
                </div>
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>

    @* </div> *@

</div>

<main>
    <div class="row mt-5 ">
        <div class="col">
            <h1 class="text-center mb-4 text-black-50 text-monospacefont-weight-bold">The Most Resent Post</h1>
            <div class="list-group " style="background-color:#F9EBEA ;">
                @{ foreach (var t in Model.listPT)
                    {
                        <div href="#" class="list-group-item list-group-item-action flex-column align-item-start mt-3 ">
                            <div class="d-flex w-100 justify-content-between align-item-center">
                                <h4 class="font-weight-bold">@t.Compania</h4>
                                <small>@t.FechaPublicacion</small>
                            </div>
                            <div class="row">
                                <div class="col-3"><img src="~/images/descarga .jpg"></div>
                                <div class="col-6 "><pre class="text-center">@t.Categoria              @t.Posicion             @t.Ubicacion </pre> </div>
                                        <div class="col-3 px-1">
                                            <ul class="responsive float-right ">
                                                <li class="nav-item regist_log  px-3 py-2 mr-2" style="background-color:lightgrey;">
                                                    <a style="text-decoration:none;color:black;" asp-controller="Home" asp-action="Details" asp-route-id="@t.Id">  Details</a>
                                                </li>
                                                @if(SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Poster")))
                                                {
                                                    if(User.IsInRole("Poster") )
                                                    {
                                                       foreach (var item in Model.listUPT)
                                                       {
                                                           if(item.IdPuestoTrabajo == t.Id)
                                                           {
                                                                <li class="nav-item regist_log  px-4 py-2" style="background-color:#53b427;">
                                                                    <a style="text-decoration:none;color:black;" asp-controller="Home" asp-action="Edit" asp-route-id="@t.Id">Edit</a>
                                                                </li>
                                                           }
                                                       }
                                                        
                                                    
                                                        
                                                    }

                                                    if(User.IsInRole("Admin"))
                                                    {
                                                        <li class="nav-item regist_log  px-4 py-2" style="background-color:#53b427;">
                                                            <a style="text-decoration:none;color:black;" asp-controller="Home" asp-action="Edit" asp-route-id="@t.Id">Edit</a>
                                                        </li>
                                                    }
                                                    
                                                }else
                                                {
                                                    foreach (var item in Model.listUPT)
                                                    {
                                                        @* <li class="nav-item regist_log  px-4 py-2" style="background-color:#53b427;">
                                                            <a style="text-decoration:none;color:black;" asp-controller="Home" asp-action="" asp-route-id="@t.Id">Aply</a>
                                                        </li> *@
                                                        if(User.getUserId() == item.IdUsuario && t.Id == item.IdPuestoTrabajo)
                                                        {
                                                            
                                                        }
                                                        else
                                                        {
                                                            <form method="post" asp-action="Aply" asp-controller="Home" asp-route-id="@t.Id">
                                                            <button type="submit" class="" 
                                                                onclick="return confirm('sure you want to Aply the job')">
                                                                Aply
                                                                </button> 
                                                            </form>
                                                        }
                                                        
                                                    }
                                                    
                                                }

                                            </ul>
                                        </div> 
                            </div>
                        </div>
                    }

                }
            </div>

            <a class="nav-link text-success text-right font-weight-bolder">More Options </a>


        </div>
    </div>
</main>


@*  <pre class="font-weight-bold"><img src="~/images/descarga .jpg"><p class="text-center  ">@Usuario.Nombre                @Usuario.Apellido               @Usuario.Apellido   <a style="text-decoration:none;color:black; border-radius: 50px;background-color:lightgray;" class="btn  px-4 font-weight-bold " href="#">Aply</a> </pre>*@
