@model List<UserRoleModel>

@{
    var roleId = ViewBag.roleId;
}

<br>
<br>
<br>
<br>
<br>
<br>
<form method="post">
    <div class="card">
        <div class="card-header">
            <h3>Create or Delete users in this role</h3>
        </div>

        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId">
                    <input type="hidden" asp-for="@Model[i].UserName">
                    <input asp-for="@Model[i].IsSelect" class="form-check-input">
                    <label class="form-check-label" asp-for="@Model[i].IsSelect">
                        @Model[i].UserName
                    </label>    
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto">
            <a asp-action="EditRole" asp-route-id="@roleId"
                class="btn btn-primary" style="width:auto"
            >Cancel</a>
        </div>
    </div>
</form>
<br>
<br>
<br>


@* <div class="dropdown-menu" aria-labelledby="menu-candidatos">
@if(SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <a asp-controller="Admin" asp-action="Roles" class="dropdown-item">Roles</a>
}
<a asp-controller="Account" asp-action="SignOut" class="dropdown-item">SignOut</a>
</div> *@