@model List<RoleUserModel>

@{
    var id = ViewBag.IdUser;
}

<br>
<br>
<br>
<br>
<br>
<br>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Gestion roles user</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId">
                    <input type="hidden" asp-for="@Model[i].RoleName">
                    <input asp-for="@Model[i].IsSelect" class="form-check-input">
                    <label class="form-check-label" asp-for="@Model[i].IsSelect">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto">
            <a asp-action="EditUser" asp-route-id="@id" class="btn btn-primary" style="width:auto">
                Cancel
            </a> 
        </div>
    </div>


</form>

<br>
<br>
<br>